* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #f5f5f5;
	padding: 5px;
}

.navigationBar {
	display: flex;
	justify-content: space-between;
}

.Search {
	width: 100%;
	height: 39px;
	background-color: bisque;
	border-radius: 20px;
}

.PromotionalBanner {
	width: 350px;
	height: 140px;
	background-color: #333;
	color: black;
	border-radius: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

.CategoryCards {
	display: flex;
	overflow-x: auto;
	height: 100px;
}

.CategoryCards > div {
	max-height: 80px;
	width: 66px;
}
