:root {
	--bg: #F1F1F1;
	--button-color: #C6C6C64D;
	--card-color: #FFFFFF;
	--text:#292928;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		sans-serif;
	line-height: 1.6;
	color: var(--text);
	background-color: var(--bg);
	padding: 5px;
}

.navigationBar {
	display: flex;
	justify-content: space-between;
}

.Search {
	width: 100%;
	height: 39px;
	background-color: var(--card-color);
	border-radius: 20px;
	border-width: 0;
}

.PromotionalBanner {
	width: 350px;
	height: 140px;
	background-color: #333;
	color: black;
	border-radius: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.CategoryCards {
	display: flex;
	overflow-x: auto;
	height: 100px;
	background-color: var(--bg);
}

.Card {
	max-height: 80px;
	min-width: 66px;
	background-color: var(--card-color);
	margin-right: 5px;
	font-size: 11px;
}

.Card > img {
	min-width: 66px;
	min-height: 66px;
	background-color: #ffb0b0;
}

.Goods {
	display: grid;
	gap: 5px;
	grid-template-columns: 173px 173px;
}

.Goods > div {
	width: 173px;
	height: 268px;
	background-color: rgb(255, 248, 248);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2px;
}

.Goods img {
	height: 169px;
	width: 169px;
	border-radius: 20px;
	background-color: #a5a5a5;
}

.Goods button {
	width: 159px;
	height: 34px;
	color: var(--text);
	margin: 5px;
}