:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	margin-left: 30%;

	--bg: #F1F1F1;
	--button-color: #C6C6C64D;
	--card-color: #FFFFFF;
	--text:#292928;
}



body {
	margin: 0;
	max-width: 360px;
	min-width: 360px;
	height: 100vh;
	background-color: #292929;
}

button {
	
	border-radius: 20px;
	border: 1px solid transparent;
	padding-left: 8px;
	padding-right: 8px;
	background-color: var(--button-color);
	cursor: pointer;
	transition: border-color 0.25s;
	font-size: 11px;
	margin-bottom: 10px;
	margin-top: 10px;
}
button:hover {
	border-color: #888888;
	background-color: #888888;
}
